

body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}


  
  .containers {
    background-color: rgb(216, 216, 216);
    display: flex;
    justify-content: center;
    justify-content: space-around;
    height: 4rem;
    
  }
  
  .logo {
    margin-top: 20px;
  }
  
  .picto {
    width: 15px;
  }
  
  a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 200;
    font-size: 0.9rem;
    margin-top: 20px;
  }
  
  a:hover {
    color:rgb(179, 255, 242); 
    text-decoration:none; 
    cursor:pointer;  
    font-weight: 200;
    font-size: 0.9rem;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 5px;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
}

.img2 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 5;
}

.img3 {
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 5;
  grid-row-end: 9;
}

.banner {
  margin: none;
}


.footer1 {
  background-color: gray;
  text-align: center;
  padding: 6rem;
  
}